language: node_js
node_js: lts/*
sudo: false
before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.27.5
- export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true
install:
# - cd ./functions && yarn install && cd ..
# - cd ./client && yarn install && cd ..
yarn install

script:
- yarn build
deploy:
  skip_cleanup: true
  provider: firebase
