:root {
  --color-primary1: #eee;
  --color-primary2: #ccc;
  --color-primary3: #ddd;
  --color-primary4: #666;
  --color-secondary1: #000;
  --color-secondary2: #202020;
  --color-secondary3: #333;
  --color-shadow: rgba(0, 0, 0, 0.5);

  --gap-s: 10px;
  --gap-m: 20px;
  --gap-l: 50px;

  --font-x: 9px;
  --font-s: 12px;
  --font-m: 15px;
}

@define-mixin grid-wrap {
  margin: 0 var(--gap-m);
  max-width: 1200px;
  @media (min-width: 1280px) {
    margin: 0 auto;
  }

  @define-mixin grid {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);

    @media (min-width: 768px) {
      grid-template-columns: repeat(6, [col-start] 1fr);
    }

    @media (min-width: 1025px) {
      grid-template-columns: repeat(8, [col-start] 1fr);
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(12, [col-start] 1fr);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: var(--font-size-m);
  color: var(--color-primary1);
  text-shadow: 0 1px 0 var(--color-shadow);
  font: normal 0.82em/150% "Merriweather", Georgia, "Times New Roman", serif;
}

body,
dialog {
  background: var(--color-secondary1) url("dark_bg.gif");
}

a {
  color: var(--color-primary3);
  text-decoration: none;
  font-size: var(--font-size-m);
}
figure {
  margin: 0;
}

.grid-wrap {
  @mixin grid-wrap;
}
.gallery {
  @mixin grid;
}

header {
  overflow: hidden;
  border-bottom: 1px solid var(--color-secondary2);
  outline: 1px solid var(--color-secondary3);
  margin-bottom: var(--gap-m);

  & .logo {
    display: block;
    background: url("logo.png") no-repeat;
    padding-top: 10px;
    height: 60px;
    width: 200px;
    float: left;
    text-indent: -9999px;
  }

  & ul {
    float: right;
    margin: 0;
  }
  & li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  & li a {
    padding: var(--gap-m) 5px var(--gap-m) var(--gap-l);
    display: block;
  }
}
article {
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
  }

  & figcaption,
  & .tags {
    opacity: 0;
    position: absolute;
    bottom: 0;
  }
}

footer {
  border-top: 1px solid var(--color-secondary3);
  outline: 1px solid var(--color-secondary2);
  text-align: center;
  padding: var(--gap-m);
  font-size: var(--font-x);
  letter-spacing: 0.3em;
  color: var(--color-primary4);
}

dialog {
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;

  & .head {
    border-bottom: 1px solid var(--color-secondary2);
    outline: 1px solid var(--color-secondary3);
    height: 70px;
    margin-bottom: var(--gap-m);
  }

  & figure {
    @mixin grid-wrap;
  }

  & img {
    margin: 0 auto;
    display: block;
  }

  & .close {
    font: 2.4rem/0.85 Tahoma, Geneva, sans-serif;
    position: absolute;
    top: 15px;
    right: 50px;
  }
}
