/*-----------------------------------------------------------------------------------

	0.	CSS Reset & Clearfix
	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
	3.	Header Styles
	4.	Navigation & Menus
	5.	Main Content Styles
	6.	Post Content Styles
	7.	Comments
	8.	Pagination
	9.	Footer Styles
	10.	Page Templates
	11.	Widgets
	12.	Sortcode Styles

-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */


/*-----------------------------------------------------------------------------------*/
/*    1.    Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

body,
input,
textarea                                { font: normal .82em/150% "Merriweather", Georgia, "Times New Roman", Times, serif; }
.hidden                                 { display: none }
.alignleft                              { float: left }
.alignright                             { float: right }
.aligncenter                            { display: block; margin-right: auto; margin-left: auto; clear: both }
.clear                                  { display: block; width: 100%; height: 0; font-size: 0; clear: both; line-height: 0; }
a                                       { font-weight: normal; text-decoration: none; color:#fff; }
a:hover                                 { text-decoration: none }
a img                                   { border: none }
p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form,
.gallery-row,
.post-thumb,
.author-bio                             { margin-bottom: 20px }
#logo a:hover                           { text-decoration: none }
.post-thumb a,
.post-thumb img                         { display: block; height: 250px }
table .even                             { background: #ddd }
#logo,
#logo a                                 { font-size: 1em; font-weight: bold; }
#logo a:hover                           { background:none !important; }
.post-thumb                             { padding: 5px }
.type-photo .post-thumb a,
.type-photo .post-thumb img             { height: auto }
.hentry                                 { margin-bottom: 59px }
h1,
h2,
h3,
h4,
h5,
h6                                      { margin: 0 0 20px 0; padding: 0; font-weight: normal }
h1                                      { font-size: 2em;   }
h2                                      { font-size: 1.7em; }
h3                                      { font-size: 1.5em; }
h4                                      { font-size: 1em;   }
h5                                      { font-size: .85em; }
h6                                      { font-size: .65em; }




html {  position: relative; min-height: 100%; }
body { margin: 0 0 100px; /* bottom = footer height */ padding: 85px 0 0 0; }
footer { position: absolute; left: 0;  bottom: 0; height: 100px;width: 100%; }
/* fixed footer ^^^^^ */



.gallery-title,
.page-title                             { display: inline; font-size: 1.75em; font-weight: normal; }
.gallery-title span,
.page-title span                        { padding: 0 5px; font-size:  .7em; }
.entry-title a                          { display: inline; padding: 7px 10px 5px 10px }
.entry-title,
.entry-title a                          { display: block; float: left; margin: 0; font-size: 1.8em;  font-style: italic;  text-shadow: none; }

#container                              {  min-width:360px; }
.page-template-template-full-width-php #primary,
.page-template-template-gallery-php #primary,
.home #primary                          { width: 100%; margin: 0 0 67px 0 }
.page-template-template-home-alternative-php #primary,
.page-template-template-full-width-php .hentry,
.page-template-template-full-width-php #respond
                                        { margin: 0 50px }
.page-template-template-home-alternative-php #primary
                                        { width: auto; margin-bottom: 0px; }
.page-template-template-home-alternative-php #gallery-terms ul
                                        { padding: 0 }
.page-template-template-home-alternative-php #gallery-wrap ul
                                        { width: auto }
.page-template-template-full-width-php .hentry
                                        { margin-bottom: 17px }
.layout-2cl #primary                    { float: right; margin: 0 0 70px 0; margin:0; }
#sidebar                                { float: right; width: 240px; margin: 0 0 70px 0 }
.layout-2cl #sidebar                    { float: left; margin: 0 0 70px 50px }
/*-----------------------------------------------------------------------------------*/
/*    3.    Header Styles
/*-----------------------------------------------------------------------------------*/
header                                 { box-sizing: border-box; height:85px; width:100%; position: fixed; z-index: 200; top:0; padding: 16px 20px 12px 20px; border-bottom:1px solid #202020; outline:1px solid #333; overflow: hidden; }

#fbshare { background:url(images/fbshare.png) no-repeat; width:60px; height:18px; float:right; text-indent:-9999px;}

#logo                                   { width: 120px; float: left; margin-top: 8px; }
#logo img 												    	{ width: 100%;  }
@media (min-width: 641px) {
	header                               { padding: 16px 50px 12px 50px;  }
	#logo                                {  margin: 0 auto; float: left;  width: 177px;  margin-top: 0px; }
}

#facebook                               { float:left; margin-top:23px; width:96px; height: 25px; overflow:hidden; }
#facebook  iframe						{ }
#facebook .fb_share_count_inner					{ text-shadow:none;}
#facebook .fb_share_count_right .fb_share_count_inner:before{content:"1";}
#facebook a:hover{ background:none;}
#facebook .fb_share_count_nub_right               {background-image:url(images/i_oIVTKMYsL.png)}
#googleplus							    { float:left; margin-top:24px;  }
#message								{ float:left; margin-top:24px; margin-left:40px; font-size: .85em; color: #ccbb00; }
#tagline                                { font-size: .85em; font-weight: normal; line-height: 20px }
#header-tweet                           { float: right; max-width: 399px; padding-left: 21px }
#header-tweet small                     { font-style: normal; }
#header-tweet span                      { display: block }
#header-tweet ul                        { float: right; margin: 0; padding: 0 0 0 10px; font-size: .85em; font-style: italic; line-height: 18px; }
/*-----------------------------------------------------------------------------------*/
/*    4.    Navigation & Menus
/*-----------------------------------------------------------------------------------*/



#primary-nav                            {  width: 200px; float: right;}
#primary-nav ul                         { float: left; margin: 0; padding: 0; list-style: none;  }
#primary-nav ul li                      { float: left; width: 50%; margin-bottom: 5px }
#primary-nav ul li a:hover,
#primary-nav ul li.current-cat a,
#primary-nav ul li.current_page_item a,
#primary-nav ul li.current-menu-item a  { text-decoration: none }
#primary-nav ul a                       { display: block; text-align: center; padding: 2px 8px; font-size: 1em; font-weight: normal; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; white-space: nowrap; }

@media (min-width: 641px) {
#primary-nav                          { margin: 0 auto; width: 200px; float: none; }
#primary-nav ul li                    { width: auto; margin-top: 15px }
#primary-nav                          { float: right; margin: 5px 10px ; width:auto; }
#primary-nav ul a 										{ text-align: left;  padding: 2px 20px;}
}

/* top level skin */
/*-----------------------------------------------------------------------------------*/
/*    5.    Main Content Styles
/*-----------------------------------------------------------------------------------*/
address                                 { font-style: italic }
abbr[title],
acronym[title],
dfn[title]                              { border-bottom: 1px dotted #666; cursor: help }
blockquote                              { padding-left: 15px; margin: 30px; font-style: italic;  }
strong                                  { font-weight: bold }
em,
dfn,
cite                                    { font-style: italic }
dfn                                     { font-weight: bold }
sup                                     { font-size: 11px; vertical-align: top }
sub                                     { font-size: 11px; vertical-align: bottom }
small                                   { font-size: 11px }
del                                     { text-decoration: line-through }
ins                                     { text-decoration: underline }
code,
pre                                     { line-height: 18px }
var,
kbd,
samp,
code,
pre                                     { font: 12px/18px Consolas, "Andale Mono", Courier, "Courier New", monospace; background: #efefef; }
kbd                                     { font-weight: bold }
samp,
var                                     { font-style: italic }
pre                                     { margin: 30px 0; padding: 0 10px; white-space: pre; overflow: auto; clear: both; line-height: 19px; }
code                                    { padding: 3px }
ul,
ol,
dl                                      { margin-left: 30px }
table                                   { margin: 0 0 22px 0; padding: 0 5px; text-align: left; border: 1px solid #ccc; border-width: 1px; line-height: 18px; }
caption                                 { text-align: left }
tr                                      { border-bottom: 1px solid #ccc }
th,
td                                      { padding: 5px; text-align: center; vertical-align: middle }
img.alignleft                           { float: left; margin: 10px 25px 20px 0 }
img.alignright                          { display: block; margin: 10px 0 25px 20px }
img.aligncenter                         { display: block; margin-top: 5px; margin-right: auto; margin-left: auto; clear: both }
.wp-caption                             { margin: 10px 20px 20px 20px; font-style: italic; text-align: center; font-family: Georgia, "Times New Roman", Times, serif }
.wp-caption
.wp-caption-text                        { margin: 0; padding: 5px }
.wp-caption img,
.wp-caption img a                       { margin: 0; padding: 0; border: 0 none }
.wp-smiley                              { max-height: 13px; margin: 0 !important }
.gallery                                { margin: auto }
.gallery-image                          { margin-left: 0 }
.gallery-caption                        { margin-left: 0 }
.gallery-item                           { float: left; margin-left: 0; text-align: center }
.gallery-columns-2                      { width: 50% }
.gallery-columns-3                      { width: 33% }
.gallery-columns-4                      { width: 25% }
.gallery-columns-5                      { width: 20% }
.gallery-columns-6                      { width: 16% }
.gallery-columns-7                      { width: 14% }
.gallery-columns-8                      { width: 12% }
.gallery-columns-9                      { width: 11% }
input,
textarea,
button                                  { border: none }
input,
textarea                                { padding: 8px }
button                                  { padding: 2px 10px; cursor: pointer }
#submit                                 { width: auto; height: 35px; padding: 0 20px; font-size: 13px; font-weight: normal; text-align: center; cursor: pointer; line-height: 35px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
/*-----------------------------------------------------------------------------------*/
/*    6.    Post Content Styles
/*-----------------------------------------------------------------------------------*/
#content                                { padding:20px 0 0; border-top: 1px solid #333333; min-height:500px;  }
.entry-meta-wrap                        { margin: 0 0 20px 0 }
.entry-meta                             { float: left; padding: 3px 10px 3px 10px; font-size: 11px }
.entry-meta span span                   { padding: 0 5px }
.author-title                           { margin-left: 60px; font-weight: bold }
.author-description                     { margin-left: 60px }

.stories   { margin: 20px 50px; }
.stories li { list-style:none; overflow:hidden;  margin-bottom:30px; }
.stories li img { float:left; padding-right:20px; }
.stories li h2  { margin-bottom:5px; line-height: 1.3; }
.stories li p  { color:#888; padding:0 3px;; float:left; width:324px;  }

/*    7.    Comments
/*-----------------------------------------------------------------------------------*/
.widget
.children,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ul,
.comment-body ol ol,
.comment-body ol ul,
.comment-body ul ul,
.widget ul ul                           { margin-bottom: 0 }
#respond-title 							{ padding: 0 0 15px 0; font-size: 1.6em; }
#comments                               { padding: 0 0 15px 0; font-size: 1.6em; margin: 0 50px; }
#respond-title span,
#comments span                          { font-size: .85em; font-style: normal;  }
#respond-title span span,
#comments span span                     { padding: 0 5px }
.commentlist                            { margin: 15px 50px 15px 50px; list-style-type: none }
.commentlist ul                         { margin: 20px 0 24px 0 }
.commentlist ul li                      { margin: 5px 0 0 0; padding: 10px 10px 10px 10px; border: none }
.commentlist ul li .comment-author,
.commentlist ul li .comment-meta        { display: inline; font-size: 11px }
.commentlist ul li .comment-meta:before { content: ' / ' }
.commentlist ul li .comment-author      { font-size: 11px }
.commentlist ul li .comment-body        { margin: 0 0 0 55px }
.commentlist ul li p:last-child         { margin: 0 }
.commentlist ul li .avatar              { margin-left: 0 }
.commentlist ul li li                   { margin: 5px 0 0 50px }
.commentlist ul ul                      { margin: 20px 0 0 0 }
.pinglist                               { margin: 20px 0 40px 30px; list-style-type: decimal }
.comment                                { padding: 25px 0 0 0px }
.comment .avatar                        { float: left; margin: 0 10px 0 -55px }
.comment .says                          { display: none }
#commentform                            { margin-bottom: 25px; }
#commentform textarea                   { width: 97% }
#commentform #submit                    { width: auto }
#commentform input                      { width: 35%; margin-right: 20px }
.children                               { list-style-type: none }
.avatar                                 { padding: 5px }
.comment-meta                           { margin-bottom: 10px; font-size: .9em; font-style: italic; }
.comment-author cite                    { font-size: 1.4em; font-style: normal }
.nocomments                             { padding: 20px; text-align: center }
.comment-body                           { margin: 0 0 10px 0 }
.comment-body ol                        { list-style-type: decimal }
.comment-body ul                        { list-style-type: disc }
.cancel-comment-reply                   { margin: 0 0 20px 0 }
#respond                                { margin: 15px 0 0 0 }
li #respond                             { margin: 40px 0 }
/*-----------------------------------------------------------------------------------*/
/*    8.    Pagination
/*-----------------------------------------------------------------------------------*/
.page-navigation .nav-next              { float: left }
.page-navigation .nav-previous          { float: right }
.single-page-navigation .nav-next       { float: right }
.single-page-navigation .nav-previous   { float: left }
/*-----------------------------------------------------------------------------------*/
/*    9.    Footer Styles
/*-----------------------------------------------------------------------------------*/
footer                                  { height: 46px;  padding: 30px 0 0; font-size: .75em; border-top: 1px solid #333; outline:1px solid #202020; font-size: 0.7em;  letter-spacing: 0.3em;  text-transform: uppercase; color:#666 !important; text-align:center;  }
.copyright                              { float: left; min-width: 300px; margin: 0 }
.credit                                 { float: right }
/*-----------------------------------------------------------------------------------*/
/*    10.    Page Templates
/*-----------------------------------------------------------------------------------*/
.page-template-template-full-width-php #posts-wrap
                                        { width: 100% }
.archive-lists .children                { margin-bottom: 0 }
.full-width                             { width: 940px!important }
#contactForm                            { padding-top: 30px }
.contactform                            { margin-left: 0 }
.contactform li                         { list-style-type: none }
.contactform li input[type="text"]      { width: 300px; margin-bottom: 15px }
.contactform li textarea                { width: 97.5%; height: 200px; margin-bottom: 15px }
.contactform li button                  { float: right }
.contactform li label                   { display: block; margin-bottom: 10px }
label.error                             { color: #cc3333 }
.page-template-template-contact-php .entry-content
                                        { border-bottom: none!important }
.page-template-template-gallery-php #gallery-wrap ul
                                        { width: auto; margin: 0; padding: 0 50px }
#page-title-wrap                        { margin: 23px 50px 23px 50px; padding: 0 0 10px 0 }
#content-slider                         { position: relative; display: none; height: 1px; margin: 30px 50px 0 50px; padding: 10px 0; cursor: pointer }
#page-title-wrap p                      { display: inline }

#gallery-wrap                           { margin-top: 10px; overflow: hidden }
#gallery-wrap ul                        { margin: 0; padding: 0 }
#gallery-wrap li                        { width: 20%; padding-top: 20%; height:0; float: left; cursor: pointer; background: #202122; background-position:0 0; background-repeat:no-repeat; background-size:cover; box-shadow:none; transition: box-shadow 0.3s ease-in-out; xopacity: 0.1; }
#gallery-wrap li.visible:hover          { opacity: 0.7 !important; background-position: 1px 1px;  box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);}

@media (min-width: 641px) {
#gallery-wrap li                        {  width: 14.25%; padding-top: 14.25%;  }
}
@media (min-width: 769px) {
#gallery-wrap li                        {  width: 10%; padding-top: 10%;  }
}
@media (min-width: 1025px) {
#gallery-wrap li                        {  width: 7.12%; padding-top: 7.12%;  }
}
@media (min-width: 1281px) {
#gallery-wrap li                        {  width: 6.66%; padding-top: 6.66%;  }
}

#gallery-terms                          { text-align: center; }
#gallery-terms ul                       { margin: 20px 0 20px 0; padding: 0 30px; font-size: 1em; }
#gallery-terms li                       { display: inline }
#gallery-terms li:first-child           { display: block; }
@media (min-width: 768px) {
	#gallery-terms li:first-child         { display: inline; }
}
#gallery-terms li:last-child span       { display: none }
#gallery-terms li span                  { padding: 0 5px }
body.modal-on 													{ overflow: hidden;}
#loader                                 { position: fixed; display: none; top: 100px; width: 100%; height: 40%; z-index: 9999 }
#gallery-overlay  {}
#gallery-overlay                        { position: absolute; display: none; top: 0; width: 100%; height: 100%; overflow: hidden;  }
#gallery-container                      { width: 100%; min-height: 100% }

#gallery-header                         { box-sizing: border-box; position: fixed; z-index: 300; padding:25px 20px 12px; height: 106px; width:100%; overflow:hidden; }
@media (min-width: 641px) {
#gallery-header                         { padding: 35px 50px 2px;}
}
.gallery-title                          { display: inline; }
.gallery-title span                     { padding: 0 3px 0 4px }
#gallery-title-wrap                     { float: left;  xxmax-width:560px; width:63%; text-align:center; }
#gallery-title-wrap p                   { display: inline; }

#gallery-nav                            { float: right }
#gallery-nav li                         { float: left; margin: 0 2px 0 0; line-height: 19px }
#gallery-nav li a.hidden                { display: none }
#gallery-nav li a                       { display: block; width: 38px; height: 38px; text-align: center; line-height: 1; font: 2.4rem/0.85 Tahoma, Geneva,sans-serif; color: #777; background: #111; }
#gallery-nav li a:hover                 { color: #fff;}
#gallery-nav li.gallery-close a         { margin: 0 0 0 8px; font-size: 2rem; line-height: 1.05; }
#gallery-nav li.disabled a,
#gallery-nav li.disabled a:hover        { color:#222; }


@media (min-width: 641px) {
	#gallery-nav li a                     {  }
}
#gallery-nav ul                         { float: right; margin: 0; padding: 0 }


#gallery-photo                          { width: 100%; text-align: center; padding-top:20px;  padding-bottom:16px;  }
#gallery-photo #position                { width: 100%; text-align: center; padding-top:20px;  padding-bottom:16px;  }
#gallery-photo img                      { max-width: 100%; min-width: 200px; min-height: 200px; background:#202122;  border: 1px solid #111111; box-shadow: 0 0 8px #111; color: #222222; text-shadow: none; }

#gallery-footer-desc                    { float: right; width:100%; text-align:center; padding-bottom: 30px  }
#gallery-footer-desc p                  { margin: 0 0 5px 0; text-align: right }
#gallery-footer-desc p span:last-child  { display: none }
#gallery-footer-wrap                    { position: relative; height: 70px; margin-top: -70px }


/*-----------------------------------------------------------------------------------*/
/*     About Page Templates
/*-----------------------------------------------------------------------------------*/

.about .image,
.about .col1,
.about .col2  { float: left; padding-right: 2%; box-sizing: border-box; }

.about .image { width: 50%; }

@media (min-width: 768px) {
.about .image { width: 20%; }
.about .col1 { width: 50%; }
.about .col2 { width: 30%; }


}
.about .image img { max-width: 100%; }
.about #posts-wrap { margin: 15px 50px 15px 50px; overflow: hidden; }
.about #posts-wrap ul { margin-left: 18px;}
.about #posts-wrap li { list-style: circle; }



/*==========================================================================================

	Dark Colour Scheme

==========================================================================================*/

body,
header,
#gallery-container {
	background: #1f1f20 url(../images/dark/dark_bg.gif) repeat scroll 0 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.widget_search input { color: #555555; }

body,
input,
textarea,
button,
#gallery-footer a,
#footer a,
.tz_tweet_widget small a:hover,
ul li .comment-author cite a:hover,
.comment-meta a:hover,
.entry-meta a:hover,
#header-tweet small a:hover {
	color: #bbbbbb;
}

input,
textarea,
button {
	background: #202122;
}

input:focus,
textarea:focus,
button:hover {
	background: #dddddd;
}

input:focus,
textarea:focus,
button:hover,
#submit,
.entry-meta span span,
.page-title span,
#gallery-terms li span,
.gallery-title span,
span.exif-slash {
	color: #444444;
}

#tagline,
#header-tweet small a,
#gallery-footer,
#footer,
#page-title-wrap p,
#page-title-wrap span,
#gallery-overlay,
.tz_tweet_widget small a,
.entry-meta,
.entry-meta a,
#respond-title span,
ul li .comment-author cite a,
.comment-meta a,
.comment-meta,
#comments span,
#gallery-terms a,
blockquote {
	color: #777777;
}

h1,h2,h3,h4,h5,h6,
.gallery-title,
.entry-title a,
#respond-title,
.comment-author a,
.comment-author,
#comments,
#logo a,
#gallery-terms a.current,
#gallery-terms a:hover,
#primary-nav ul a,
.page-title {
	color: #dddddd;
}

#primary-nav ul li a:hover,
#primary-nav ul li.current-cat a,
#primary-nav ul li.current_page_item a,
#primary-nav ul li.current-menu-item a,
.entry-title,
.tz_video_desc,
.tz_video,
#flickr_badge_wrapper,
.widget-title,
.entry-meta,
.commentlist ul li,
.avatar,
.post-thumb {
	background: url(../images/dark/elem_bg.png) repeat;
}

#submit {
	background: url(../images/dark/button_bg.gif) repeat-x;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
    		box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
}

#submit:hover { background: url(../images/dark/button_bg_hover.gif) repeat-x; }

#header-tweet { background: url(../images/dark/quote.png) no-repeat left 5px; }

#header-tweet ul { border-left: 1px solid #3d3d3f; }

#content-slider { background:url(../images/dark/slider_bg.gif) repeat-x; }


#respond-title,
#comments,
.entry-content,
#page-title-wrap {
	border-bottom: 1px solid #333;
}

.tz_tweet_widget ul li,
.comment {
	border-top: 1px solid #2f2f31;
}
/*
#gallery-footer-wrap,
#gallery-container,
#gallery-overlay  {
	background: #1f1f20;
}
*/

#loader { }
.loader-wrap { background: url(../images/dark/loader-bg.png) center no-repeat; width:100%; height:100%; opacity: 0.6; }
.loader-img  { background: url(../images/dark/loader.gif) center no-repeat;    width:100%; height:100%; opacity: 0.5; }


.ui-slider-handle {
	width: 40px;
	height: 5px;
	position: absolute;
	top: 3px;
	margin-left: -20px;
	background: #ccc;
	-webkit-border-radius: 1px;
	   -moz-border-radius: 1px;
	   		border-radius: 1px;
	-moz-box-shadow: 0 0 3px rgba(225,225,225,0.6);
    -webkit-box-shadow: 0 0 3px rgba(225,225,225,0.6);
    box-shadow: 0 0 3px rgba(225,225,225,0.6);
}
#message1 { background:url(../images/likeit.png) left bottom no-repeat; height:60px; width:150px; float:left; display:none; }
